[Unit]
Description=Node.js Application
After=network.target

[Service]
ExecStart=/usr/bin/node --inspect /home/ubuntu/nodeapp/app.js
WorkingDirectory=/home/ubuntu/nodeapp
Restart=always
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

